#!/bin/bash
set -e

echo "==> Installing shell packages..."

install_mac() {
  echo "OS not yet supported"
}

install_linux() {
  if command -v apt &>/dev/null; then
    sudo apt update
    sudo apt install -y zsh git curl fonts-powerline fastfetch
  elif command -v pacman &>/dev/null; then
    sudo pacman -Sy --needed --noconfirm chezmoi zsh git curl ttf-fira-code fastfetch
  else
    echo "Unknown package manager"
    exit 1
  fi
}

case "$OSTYPE" in
  darwin*) install_mac ;;
  linux*) install_linux ;;
  *) echo "OS not supported"; exit 1 ;;
esac

# oh-my-zsh install
if [ ! -d "$HOME/.oh-my-zsh" ]; then
  echo "===> Installing oh-my-zsh..."
  RUNZSH=no KEEP_ZSHRC=yes sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
  git clone https://github.com/zsh-users/zsh-autosuggestions ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-autosuggestions
fi


if [ ! -f "/usr/local/bin/starship" ]; then
  echo "===> Installing starship..."
  curl -sS https://starship.rs/install.sh | sh
fi

