#!/bin/bash
set -e

echo "==> Installing additional packages..."

install_mac() {
  echo "OS not yet supported"
}

install_linux() {
  if command -v apt &>/dev/null; then
    sudo apt update
    sudo apt install -y snapd
    sudo snap install node --classic
  elsif command -v pacman &>/dev/null; then
    sudo pacman -Sy --needed --noconfirm nodejs npm
    {{ if not .minimal }}
    sudo pacman -Sy --needed --noconfirm flatpak
    flatpak install flathub app.zen_browser.zen
    {{ end }}
  else
    echo "Unknown package manager"
    exit 1
  fi
}

case "$OSTYPE" in
  darwin*) install_mac ;;
  linux*) install_linux ;;
  *) echo "OS not supported"; exit 1 ;;
esac

# nvm install
export NVM_DIR="$HOME/.nvm"
if [ ! -d "$NVM_DIR" ]; then
  echo "===> Installing nvm..."
  curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.7/install.sh | bash
fi

