#!/bin/bash
set -e

echo "==> Installing base packages..."

install_mac() {
  echo "OS not yet supported"
}

install_linux() {
  if command -v apt &>/dev/null; then
    sudo apt update
    sudo apt install -y neovim tmux zsh git curl fonts-powerline kitty
  elif command -v pacman &>/dev/null; then
    sudo pacman -Sy --needed --noconfirm neovim tmux zsh git ttf-meslo-nerd kitty
  else
    echo "Unknown package manager"
  fi
  
  DOCUMENTS_DIR="$HOME/Documents/chezmoi"
  if ! [ -d $DOCUMENTS_DIR ]; then
    mkdir -p $DOCUMENTS_DIR
    ln -s ~/.local/share/chezmoi $DOCUMENTS_DIR
  fi
}

case "$OSTYPE" in
  darwin*) install_mac ;;
  linux*) install_linux ;;
  *) echo "OS not supported"; exit 1 ;;
esac

if [ ! -d ~/.tmux/plugins/tpm ]; then
  git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm
fi

# oh-my-zsh install
if [ ! -d "$HOME/.oh-my-zsh" ]; then
  echo "Installing oh-my-zsh..."
  RUNZSH=no KEEP_ZSHRC=yes sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
fi

# powerlevel10k install
if [ ! -d "$HOME/.oh-my-zsh/custom/themes/powerlevel10k" ]; then
  echo "Installing powerlevel10k..."
  git clone --depth=1 https://github.com/romkatv/powerlevel10k.git "$HOME/.oh-my-zsh/custom/themes/powerlevel10k"
fi

echo "All done! Setup complete"
